tmp/*
sim/dsim_work/sir*
sim/dsim_work/sfe*
sim/darksocv
sim/darksocv.vcd
rtl/darksocv.vc
testbench/darksocv.vcd
*~
*/*~
.DS_Store
*/.DS_Store
boards/*/darksocv.cache
boards/*/darksocv.hw
boards/*/darksocv.ip_user_files
boards/*/darksocv.sim
fusesoc.conf
build
Dsim/*
!Dsim/driscv.dpf
